<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Node JS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Products</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h3>Add Product</h3>
        <form method="post" action="/" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input class="form-control" id="txtProductName" name="ProductName" placeholder="Product Name">
                <label for="txtProductName">Product Name</label>
            </div>
            
            <div class="form-floating mb-3">
                <input class="form-control" id="txtPrice" name="Price" placeholder="Price">
                <label for="txtPrice">Price</label>
            </div>
            
            <div class="form-floating mb-3">
                <input class="form-control" id="txtQuantity" name="Quantity" placeholder="Quantity">
                <label for="txtQuantity">Quantity</label>
            </div>

            <div class="mb-3">
                <label for="txtProductImage" class="form-label">Product Image</label>
                <input class="form-control" type="file" id="txtProductImage" name="ProductImage">
              </div>
       
            <button type="submit" class="btn btn-primary">Insert</button>
        </form>

        <hr style="height: 2px;">
        <div class="row my-4">
            <h3>Products</h3>

            <% for(var i=0;i<Products.length;i++){ %>

            <div class="col-md-4 mt-3">
                <div class="card" style="height: 500px;">
                    <img src="<%= Products[i].Image %>" class="card-img-top p-3" alt="<%= Products[i].Name %>">
                    <div class="card-body">
                      <h5 class="card-title"><%= Products[i].Name %></h5>
                      <b> Price : </b><%= Products[i].Price %> &nbsp;&nbsp;&nbsp;&nbsp;
                      <b> Quantity : </b><%= Products[i].Quantity %>
                    </div>
                  </div>
            </div>

            <% } %>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>